USE [master]
GO
/****** Object:  Database [MultEduDB]    Script Date: 13/05/2025 18:45:06 ******/
CREATE DATABASE [MultEduDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MultEduDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS09\MSSQL\DATA\MultEduDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MultEduDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS09\MSSQL\DATA\MultEduDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MultEduDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MultEduDB]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 13/05/2025 18:45:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[SenhaHash] [nvarchar](255) NOT NULL,
	[DataCadastro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [SenhaHash], [DataCadastro]) VALUES (1, N'Carlos Eduardo Vernizzi', N'23202620@aluno.univesp.br', N'HASHas515kj56nasjd', CAST(N'2025-05-13T18:35:48.630' AS DateTime))
INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [SenhaHash], [DataCadastro]) VALUES (2, N'Carlos Eduardo Felipe Januário', N'23204913@aluno.univesp.br', N'HASHas58811kj5nas7', CAST(N'2025-05-13T18:35:48.630' AS DateTime))
INSERT [dbo].[Usuarios] ([Id], [Nome], [Email], [SenhaHash], [DataCadastro]) VALUES (3, N'Elizeu Figueiredo da Silva', N'23220472@aluno.univesp.br', N'HASH84815azxzj5ngh', CAST(N'2025-05-13T18:35:48.630' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__A9D105342B6E679A]    Script Date: 13/05/2025 18:45:06 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [DataCadastro]
GO
USE [master]
GO
