@import "tailwindcss";

/* ===================== */
/* LIGHT THEME (DEFAULT) */
/* ===================== */

:root {
  --color-background: #f5f5f5;
  --color-background-secondary: #000000;
  --color-surface: #ffffff;
  --color-card: #ffffff;
  --color-border: #e5e5e5;

  --color-navbar: rgba(0, 0, 0, 0.75);
  --color-overlay-dark: rgba(0, 0, 0, 0.75);

  --color-button-dark: #000000;
  --color-button-dark-hover: #111111;


  --color-sidebar: #ffffff;
  --color-sidebar-text: #111111;

  --color-text-primary: #111111;
  --color-text-secondary: #555555;

  --color-primary: #eab359;
  --color-primary-hover: #daa959;
}

.dark {
  --color-background: #0f0f0f;
  --color-surface: #181818;
  --color-card: #1f1f1f;
  --color-border: #2a2a2a;

  --color-sidebar: #111111;
  --color-sidebar-text: #ededed;

  --color-text-primary: #ededed;
  --color-text-secondary: #aaaaaa;

  --color-primary: #eab359;
  --color-primary-hover: #f2c777;
}

/* ===================== */
/* GLOBAL */
/* ===================== */

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}